body {
    background: linear-gradient(to right, #f0f4f8, #d4e6f1);
    font-family: Helvetica, serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

form {
    background-color: #72BDC0;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    border: 2px solid black;
}

h1 {
    position: relative;
    display: inline-block;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 20px;
}

h1::before {
    content: '';
    position: absolute;
    top: 80%;
    left: -20px;
    width: 110%;
    height: 0.6em;
    background-color: #72BDC0;
    transform: translateY(-50%) skewX(-20deg);
    z-index: -1;
}

label {
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 10px;
    margin-top: 10px;
}

input, select, button, a {
    display: block;
    width: 90%;
    padding: 8px;
    border-radius: 8px;
    border: none;
    font-size: 1rem;
}

input, select {
    background-color: #f0f4f8;
    color: #333;
}

input:focus, select:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

button {
    background-color: #005f73;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #0a9396;
}

a {
    text-decoration: none;
    color: #ffffff;
    font-size: 0.9rem;
}

a:hover {
    text-decoration: underline;
    color: #0a9396;
}
